// custom
$theme-colors: (
  "primary": #12734e,
);

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

// $font-family-sans-serif: 'Inter', sans-serif;
$font-family-base: "Inter", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;

@import "../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // --background: linear-gradient(180deg, rgba(28, 181, 224, 0.5) 0%, rgba(0, 8, 81, 0.8) 100%);
  --primary: #12734e;

  --light: #FFFFFF;
  --dark: #181818;
  --grey:  #B3B3B3;
  --dark-grey: #282828;

  --base: "Inter", sans-serif;
  --mono: "Roboto Mono", monospace;
}

body {
  background: var(--background);
}

img {
  border: 0;
}
p {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: var(--mono);
}
h5 {
  font-family: var(--mono);
}


header nav a {
  color: var(--dark);
  text-decoration: none;
  // font-family: var(--mono);
}
header nav .row-cols-auto:hover {
  background-color: #f2f2f2;
}
header nav a:hover {
  color: var(--dark); 
}

#contacts a {
  display: block;
}
#contacts a:hover {
  background-color: #f2f2f2;
}
// header > nav a:hover {
//   color: var(--dark); 
// }

#education a {
  color: var(--dark);
  text-decoration: none;
  // font-family: var(--mono);
}
#education .row-cols-auto:nth-child(1):hover {
  background-color: #f2f2f2;
}
#education a:hover {
  color: var(--dark); 
}







#skills .row > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
// @media (max-width: 606px) {
//   #skills > ul {
//     justify-content: left;
//   }
// }

#skills .row > ul span {
  margin-top: 1em;
}
#skills .row > ul iconify-icon {
  display: flex;
  align-items: center;
  height: 3em;
}

// small widths

@media (max-width: 990px) {
  header {
    text-align: center;
  }
}
@media (max-width: 512px) {
  header img {
    border: none;
    margin: 1em;
  }
  header p {
    margin: 1em;
  }
}