  timeout client  50000
  timeout server  50000

frontend http-in
  bind :80
  bind *:443 ssl crt /etc/haproxy/certs/alexboyko.info.pem

  redirect scheme https code 301 if !{ ssl_fc }

  acl letsencrypt-acl path_beg /.well-known/acme-challenge/
  use_backend letsencrypt-backend if letsencrypt-acl

  use_backend api_servers if { path_beg /api/ }
  default_backend web_servers

backend letsencrypt-backend
  server letsencrypt 127.0.0.1:8888

backend web_servers
  mode http
  balance roundrobin
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  server server1 localhost:3000 check

backend api_servers
  mode http
  balance roundrobin
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  server server1 127.0.0.1:3001 check